#navbarstyles
{
    padding: 1.5%;
    background-color: #0a0b27;
}
*
{
    margin: 0;
}
.flex{
    display: flex;

}
.dropdown-menu:hover{
    background-color: red;
    color: white;

}

#fizz-black{
    background-color: black;
    height: 954px;
    position: relative;
    overflow: hidden;
    display: flex;
   justify-content: center;
}
.rotate{
    padding:30%;
    height: 1000px;
    transform: rotate(30deg);
}
#fizz-black h1{
    color: white;
    font-size: 80px;
    position: absolute;
    bottom: 37%;
    left: 22%;
    font-family: EksellDisplayWeb-Small;
    font-weight: 800;
    text-align: center;
}
#fizz-content{
    font-size: 23px;
    padding: 10%;
    font-family: Meriva, sans-serif;
}
#colum2{
    padding-left: 5%;
}
#colum3{
    padding-left: 5%;
}
.policy ul{
    display: flex;
    list-style: none;
}
.E {
    display: flex;
}
.hh{
    z-index: 99;
}

.follow ul{
    list-style: none;
}
.follow-icon{
    display: flex;
    padding-left: 10%;
}
#colum1{
    font-size: 14px;
}
#colum2{
    font-size: 14px;
}
#colum3{
    font-size: 14px;
    line-height: 1.2;
}
.export p:hover{
    cursor: pointer;
    color: #fa260a;
    text-decoration: underline;

}
.export p{
 line-height: 1.2;
}
.tk{
    gap: 8rem;
}
.bb{
    cursor: pointer;
}
.bb h6{
   transition: all ease 0.5s; 
}
.bb h6:hover{
 color: black;
}
.wrapper{
    width: 100vw;
    height: 100%;
    overflow: hidden;
}
body{
    width: 100vw;
    overflow-x: hidden;
}
@media (max-width:550px) {
    .rotate{
        scale: .5;
    }
    #fizz-black h1{
    font-size: 40px;
    left: 30%;

    }
}
.b1 li:hover{
    color: black;
}
.b1 li{
    transition:all ease0.5s
}